*{
    margin: 0;
    padding: 0;
}
.hheder{
    background-color: rgb(66, 11, 11);
    height: 25vh;
}
.heder{
    display: table;
    margin: 0 auto;
}
#slika{
  position: absolute;
  left: -50px;
  top: 0px;
}
#lista{
    /*min-width: 1920px;*/
    list-style: none;
    padding-top: 20px;
    text-align: center;  
}
#lista li{
    display: inline;
    margin-left: 50px;
}
.heder ul ul{
    display: none;
}
.heder ul li:hover >ul{
    display: block;
}
.heder ul ul{
    margin-left: 275px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 120%;
}
#proizvodi .podproizvodi a{
    display: block;
    padding-left: 275px;
    list-style: none;
    opacity: 0;
}
#proizvodi a:hoover{
    opacity: 1;
}
body{
    overflow-x: hidden;
}
.slatkaParent{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    padding-top: 50px;
    background-color: rgb(56, 50, 44);
    height: 200vh;
    padding-bottom: 20px;
}
.slatko1{
    background-image: url(../slike/SlatkaPecivaSlike/Buhtle.jpg);
    margin-right: 10px;
    background-size: cover;
    text-align: right;
}
.slatko2{
    background-image: url(../slike/SlatkaPecivaSlike/Kiflice\ sa\ dzemom.jpg);
    background-size: cover;

}
.slatko3{
    background-image: url(../slike/SlatkaPecivaSlike/kroasani-sa-kremom.jpg);
    margin-right: 10px;
    background-size: cover;
    text-align: right;
    
}
.slatko4{
    background-image: url(../slike/SlatkaPecivaSlike/Krofne.jpg);
    background-size: cover;
    
}
.slatko5{
    background-image: url(../slike/SlatkaPecivaSlike/Slatke\ pite.jpg);
    margin-right: 10px;
    background-size: cover;
    text-align: right;
    
}
.slatko6{
    background-image: url(../slike/SlatkaPecivaSlike/Slatki\ ustipci.jpg);
    background-size: cover;
    
}
.slatko7{
    background-image: url(../slike/SlatkaPecivaSlike/Srca\ sa\ malinama.jpg);
    margin-right: 10px;
    background-size: cover;
    text-align: right;
    
}
.slatko8{
    background-image: url(../slike/SlatkaPecivaSlike/Strudle.jpg);
    background-size: cover;
    
}
#slatko{
    width: 100%;
    background-color: red;
}
#cena{
    background-color: green;
}
.ffuter{
    margin: 0;
    padding: 0;
}
.futer{
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    background-color: rgb(66, 11, 11);
    padding-top: 20px;
    
    
}
.radno{
    margin-left: 20px;
}
.kontakt{
    margin-right: 50px;
}
